<div class="card-container">
    <h2>{{isNewCard? "Create a new card": "Update card"}}</h2>
    <form [formGroup]="userForm" >
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required minlength="5" autocomplete="true" value= "{{card?.firstname}}">
      </div>
      <div>
        <label for="lastname">Lastname:</label>
        <input type="text" id="lastname" name="lastname" required minlength="5"  autocomplete="true" value="{{card?.lastname}}">
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required value="{{card?.email}}">
      </div>
      <div>
        <label for="city">City:</label>
        <input type="text" id="city" name="city" required value="{{card?.city}}">
      </div>
      <button  class="action-button" (click)="submitForm()">{{isNewCard? "Create": "Save"}}</button>
      <button *ngIf="!isNewCard"  class="action-button"  (click)="deleteCard()" style="background-color: red; margin-top: 0.5rem;">Delete</button>
    </form>
  </div>
  